<footer class="footer">
   <div class="footer__container">
      <h2 class="title title-white">- get in touch with us -</h2>
      <div class="footer__text">
         Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
         <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
      </div>
      <div class="footer__icons">
         <a class="footer__icon" href=""><img src="./img/footer/RSS.png" alt="RSS" /></a>
         <a class="footer__icon" href=""><img src="./img/footer/Facebook.png" alt="Facebook" /></a>
         <a class="footer__icon" href=""><img src="./img/footer/Twitter.png" alt="Twitter" /></a>
         <a class="footer__icon" href=""><img src="./img/footer/Dribbble.png" alt="Dribbble" /></a>
         <a class="footer__icon" href=""><img src="./img/footer/Pinterest.png" alt="Pinterest" /></a>
      </div>
      <ul class="footer__contacts">
         <li class="footer__contact"><a class="footer__contact-link" href="">Moonshine St. 14-05 Light City </a></li>
         <span> / </span>
         <li class="footer__contact"><a class="footer__contact-link" href="tel:123-456-7890p123">T. +00 (123) 456 78 90 </a></li>
         <span> / </span>
         <li class="footer__contact"><a class="footer__contact-link" href="mailto: first.last@email.com">first.last@email.com</a></li>
      </ul>
   </div>
</footer>
