<header class="header">
   <div class="header__container">
      <div class="header__menu menu">
         <div class="menu__body">
            <ul class="menu__list">
               <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
               <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
               <li class="menu__item"><a href="#" class="menu__link">Our Journal</a></li>
               <li class="menu__item"><a href="#" class="menu__link">Projects</a></li>
               <li class="menu__item"><a href="#" class="menu__link">news</a></li>
               <li class="menu__item"><a href="#" class="menu__link">features</a></li>
               <li class="menu__item"><a href="#" class="menu__link">contact</a></li>
            </ul>
         </div>
      </div>
      <button class="icon-menu" type="button"><span></span></button>
   </div>
</header>
