<section class="page__posts posts">
   <div class="posts__container">
      <h1 class="posts__title">- our Recent posts</h1>
      <div class="posts__items">
         <div class="item__column">
            <div class="posts__item item">
               <div class="item__image">
                  <img src="./img/posts/01.jpg" alt="Image" />
               </div>
               <div class="item__info">
                  <div class="item__title">Aenean Adipiscing Etiam Vestibulum</div>
                  <div class="item__comment">Photography, Journal / 9 Comments</div>
                  <div class="item__text">
                     Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                  </div>
               </div>
            </div>
            <div class="posts__item item">
               <div class="item__image">
                  <img src="./img/posts/02.jpg" alt="Image" />
               </div>
               <div class="item__info">
                  <div class="item__title">Aenean Adipiscing Etiam Vestibulum</div>
                  <div class="item__comment">Photography, Journal / 9 Comments</div>
                  <div class="item__text">
                     Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                  </div>
               </div>
            </div>
         </div>
         <div class="item__column">
            <div class="posts__item item">
               <div class="item__image">
                  <img src="./img/posts/03.jpg" alt="Image" />
               </div>
               <div class="item__info">
                  <div class="item__title">Aenean Adipiscing Etiam Vestibulum</div>
                  <div class="item__comment">Photography, Journal / 9 Comments</div>
                  <div class="item__text">
                     Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                  </div>
               </div>
            </div>
            <div class="posts__item item">
               <div class="item__image">
                  <img src="./img/posts/04.jpg" alt="Image" />
               </div>
               <div class="item__info">
                  <div class="item__title">Aenean Adipiscing Etiam Vestibulum</div>
                  <div class="item__comment">Photography, Journal / 9 Comments</div>
                  <div class="item__text">
                     Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
