<section class="page__instagram instagram">
   <div class="instagram__container">
      <div class="instagram__wrapper">
         <div class="instagram__header">
            <h2 class="title">- Latest Instagram Shots</h2>
            <h2 class="title title-hidden">- Last Instagram Shot</h2>
            <a href="#" class="title title-small">go to our instagram page -</a>
         </div>
         <div class="instagram__images">
            <div class="instagram__image">
               <img src="./img/instagram/01.jpg" alt="Image" />
            </div>
            <div class="instagram__image">
               <img src="./img/instagram/02.jpg" alt="Image" />
            </div>
            <div class="instagram__image">
               <img src="./img/instagram/03.jpg" alt="Image" />
            </div>
            <div class="instagram__image">
               <img src="./img/instagram/04.jpg" alt="Image" />
            </div>
         </div>
      </div>
   </div>
</section>
