//REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
//EM
@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

@function text($colorName) {
  $result: map.get($text-colors, $colorName);
  @return $result;
}

@function bg($colorName) {
  $result: map.get($bg-colors, $colorName);
  @return $result;
}
