$fontFamily: 'Roboto';
$fontWeight: 400;
$fontSize: rem(14);

$containerWidth: 1180px;

$text-colors: (
  'title': #4e4e4e,
  'subtitle': #7c7c7c,
  'text': #5c5c5c,
  'f-title': #fefefe,
  'f-text': #b9b9b9,

  'hover': #57a4a4,
);

$bg-colors: (
  'primary': #ffffff,
  'accent': #000000,
  'light': #f7f7f7,
  'grey': #e5e5e5,
);
