.title {
   font-weight: 700;
   font-size: rem(16);
   line-height: 1.37;
   text-transform: uppercase;
   color: text('title');
}
.title-hidden {
   display: none;
   line-height: 1.57;
}

.title-small {
   font-size: rem(13);
   line-height: 1.69;
   transition: color 0.3s;

   &:hover {
      color: text('hover');
   }
}

.title-white {
   color: text('f-title');
}

@media (max-width: 450px) {
   .title,
   .title-small {
      display: none;
   }
   .title-hidden {
      display: block;
   }
   .title-white {
      display: block;
   }
}

@media (max-width: 350px) {
   .title-white {
      font-size: rem(14);
   }
}
