.footer {
   flex: 0 1 auto;
   background-color: bg('accent');

   &__container {
      padding: 57px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   &__text {
      max-width: 684px;
      font-size: rem(16);
      line-height: 1.75;
      color: text('f-text');
      margin: 22px 0 37px 0;
   }

   &__icons {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 37px;
   }

   &__icon {
      transition: all 0.3s;
      &:hover {
         transform: rotate(360deg);
      }
   }

   &__contacts {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 11px;
      font-size: rem(16);
      line-height: 1.62;
      color: text('f-text');
   }

   &__contact {
      &:last-child {
         margin-right: 5px;
      }
   }

   &__contact-link {
      &:hover {
         color: bg('primary');
      }
   }
}

// ========================================== @media ====================================================

@media (max-width: 350px) {
   .footer {
      &__text {
         font-size: rem(12);
         line-height: 1.66; /* 20/12 */
         margin: 9px 0 26px 0;

         span {
            display: none;
         }
      }

      &__container {
         padding: 38px 10px 47px 10px;
      }

      &__icons {
         margin-bottom: 25px;
      }

      &__contacts {
         font-size: rem(14);
         line-height: 1.71; /* 24/14 */
      }
   }
}
