.header {
   flex: 0 1 auto;

   &__container {
      height: 118px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.menu {
   &__list {
      display: flex;
      column-gap: 68px;
      flex-wrap: wrap;
   }

   &__link {
      font-size: rem(11);
      line-height: 2; /* 22/11 */
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: text('title');
      transition: color 0.3s ease;

      &:hover {
         color: text('hover');
      }
   }
}

.icon-menu {
   display: none;
}

.menu-open {
   .menu__body {
      bottom: 0;
   }

   .icon-menu {
      span {
         width: 0;
      }

      &::before {
         transform: rotate(45deg) translate(3px, 3px);
      }

      &::after {
         transform: rotate(-45deg) translate(4px, -4px);
      }
   }
}

// ================================ @media ====================================

@media (max-width: 820px) {
   .header__container {
      height: 106px;
   }

   .menu__list {
      column-gap: 34px;
   }
}

@media (max-width: 767.98px) {
   .header {
      &__container {
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
         background-color: rgba(255, 255, 255, 0.8);
         height: 83px;
         justify-content: space-between;
      }
   }

   .menu {
      &__body {
         position: fixed;
         width: 100%;
         height: 100%;
         background-color: bg('light');
         left: 0;
         bottom: 100%;
         overflow: auto;
         transition: bottom 0.3s ease;
         padding-top: 70px;
         text-align: center;
      }

      &__list {
         flex-direction: column;
         row-gap: 8px;
         padding-top: 10px;
      }

      &__link {
         display: block;
         padding-left: 12px;
         font-size: rem(22);
         &:hover {
            background-color: bg('grey');
         }
      }
   }

   .icon-menu {
      height: 37px;
      flex: 0 0 44px;
      display: block;
      background-color: bg('accent');
      position: relative;
      transition: all 0.3s ease;

      span,
      &::before,
      &::after {
         content: '';
         position: absolute;
         height: 2px;
         width: 17px;
         left: calc(50% - 9px);
         background-color: bg('primary');
         transition: all 0.3s ease;
      }

      &:before {
         top: 13px;
      }
      span {
         top: calc(50% - 1px);
      }
      &::after {
         bottom: 12px;
      }
   }
}
