.page {
   flex: 1 1 auto;
}

.hero__container {
   img {
      max-width: 100%;
   }
}

@import 'page_posts.scss';
@import 'page_instagram.scss';

@media (max-width: 767.98px) {
   .page {
      padding-top: 85px;
   }
}
