.page__instagram {
   background-color: bg('light');
}
.instagram {
   &__wrapper {
      background-color: bg('light');
      padding: 47px 0px 49px 0px;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
   }
   &__images {
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }
   &__image {
      overflow: hidden;
      img {
         max-width: 100%;
         transition: transform 0.3s;
         &:hover {
            transform: scale(1.07);
         }
      }
   }
}

// ================================ @media ====================================

@media (max-width: 768px) {
   .instagram {
      &__images {
         justify-content: center;
      }

      &__image {
         &:last-child {
            display: none;
         }
      }
   }
}
@media (max-width: 450px) {
   .instagram__image {
      &:nth-child(2),
      &:nth-child(3) {
         display: none;
      }
   }
}
