.posts {
   &__container {
      margin-bottom: 69px;
      margin-top: 69px;
   }

   &__items {
      display: flex;
      column-gap: 46px;
      margin-top: 24px;
   }

   &__item {
      display: flex;
      column-gap: 21px;
   }

   &__title {
      font-weight: 700;
      font-size: rem(16);
      line-height: 1.37;
      text-transform: uppercase;
      color: text('title');
   }
}

.item {
   cursor: pointer;

   &__column {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
   }

   &__image {
      width: 160px;
      height: 140px;
      transition: all 0.3s;
      img {
         min-width: 100%;
      }
   }

   &__title {
      font-weight: 700;
      font-size: rem(16px);
      line-height: 1.87;
      color: text('title');
      transition: color 0.3s;
   }

   &__comment {
      font-size: rem(12);
      line-height: 1.66;
      color: text('subtitle');
      margin-bottom: 12px;
   }

   &__text {
      line-height: 1.85;
      color: text('text');
   }

   &:hover &__title {
      color: text('hover');
   }

   &:hover &__image {
      transform: scale(1.09);
   }
}

// ================================ @media ====================================

@media (max-width: 920px) {
   .posts {
      &__container {
         margin-bottom: 60px;
         margin-top: 60px;
      }

      &__items {
         flex-direction: column;
         row-gap: 32px;
      }
   }

   .item {
      &__text {
         max-width: 404px;
      }
   }
}

@media (max-width: 450px) {
   .posts {
      &__container {
         margin-bottom: 38px;
         margin-top: 38px;
      }
   }

   .item {
      flex-direction: column;
      &__column {
         row-gap: 28px;
      }

      &__title {
         font-size: rem(14px);
         line-height: 2.14; /* 30/14 */
         margin-top: 11px;
      }

      &__comment {
         font-size: rem(11);
         line-height: 1.81; /* 20/11 */
         margin-bottom: 0px;
      }

      &__text {
         display: none;
      }
   }
}
