@use 'sass:math';
@use 'sass:map';

@import 'base/module';
@import 'utils/module';

body {
   font-family: $fontFamily;
   font-weight: $fontWeight;
   font-size: $fontSize;

   background-color: bg(primary);
}

.wrapper {
   min-height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;
}

[class*='__container'] {
   max-width: $containerWidth;
   margin: 0 auto;
   padding: 0px 10px;
}

@import 'layout/_module';
